
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.inputs {
  background-color: #fff;

  padding: 1rem;
  max-width: 22rem;
  position: absolute;
  bottom: 0;
}

.inputs__title {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.inputs__description {
  font-style: italic; 
}
.inputs__step {
    padding-top: 1rem;

}
.step {
  padding-bottom: 0.3rem;
  font-weight: 600;
}

.radio__input > div {
  display: flex;
}

.download {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  max-width: 10rem;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #000;
  font-weight: 600;
}

.download:hover {
  color: #fff
}


@media only screen and (max-width: 550px) {
  .inputs {
    bottom: -100px;
    max-width: 15rem;
  }
}